<!DOCTYPE html>


<html>
  <head>
    <title>@Page.title</title>
    <link href="~/Styles/Products.css" rel="stylesheet" type="text/css" />
      <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <meta charset="utf-8" />
     <style type="text/css">

    .field-validation-error {
      font-weight:bold;
      color:red;
      background-color:yellow;
     }
    .validation-summary-errors{
      border:2px dashed red;
      color:red;
      background-color:yellow;
      font-weight:bold;
      margin:12px;
    }
                 
     ul {
    list-style-type: none;
    margin: 0;
    width: 100%;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    }

    li {
    float: left;
    border-right:1px solid #bbb;
    }

    li:last-child {
    border-right: none;
    }

    li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }

    li a:hover:not(.active) {
    background-color: #111;
    }
    
    .active {
    background-color: #4CAF50;
    }
    </style>
  </head>

<!--The layout from the entire page is loaded here. The logo and the tabs-->
  <body>
    <div id="container">
        <div id="header">
            <img src="~/Links/logo.png" alt="Cafeen Logo" style="width: 128px; height: 128px">
        </div>
        <div id="main">
            <ul>
                <li><a href="@Href("~/index")">Home</a></li>
                <li><a href="@Href("~/Members/Products")">Inventory List</a></li>
                <li><a href="@Href("~/Members/AddToDatabase")">Add new product</a></li>
                <li><a href="@Href("~/Members/EditCategory")">Edit Category</a></li>
                <li><a href="@Href("~/Members/InventoryCount")">Inventory Count</a></li>
                <li><a href="@Href("~/Members/Charts")">Charts</a></li>
                <li><a href="@Href("~/Members/History")">History</a></li>
                <li><a href="@Href("~/Members/Log")">Log</a></li>
                <li><a href="@Href("~/TestArea")">Test Area</a></li>
                @if(WebSecurity.IsAuthenticated)
                    {
                    <li style="float:right"><a href="@Href("~/logout")">Logout</a></li>
                    }
                else{
                    <li style="float:right"><a href="@Href("~/login")">Login</a></li>
                    }
            </ul>
        </div>
        
        <!--style="float:right">-->
        <div id="main">
            @RenderBody()
        </div>
        
        <div id="footer">
            &copy; @DateTime.Now.Year Cafeen's inventory
        </div>
    </div>
  </body>
</html>
