@{
    Layout = "~/_Layout.cshtml";
    Page.title = "TestArea";

    var db = Database.Open("Cafeen");

    string StartCondition = "Start conditions: ";
    string AddProduct_test = "AddNewProduct: ";
    string AddProduct_log = "SaveLogData: ";
    string EditProduct_test = "EditProduct: ";
    string EditProduct_log = "SaveLogData: ";
    string EditProduct_Event = "TestName changed to TestRename. Category Sodavand changed to TestCategory. Price of 12 changed to 5. Purchase Price of 8 changed to 5. Stock of 120 changed to 5.";
    string EditProductCategory_test = "EditProduct (change category): ";
    string DeleteProduct_test = "DeleteProduct: ";
    string DeleteProduct_log = "SaveLogData ";
    string SearchWord = "TestName";
    string ProductID = "";


    if(!IsPost){

        //-------------------------------------------Startconditions--------------------------------------//
        if (db.QueryValue("SELECT COUNT(*) FROM Products WHERE ProductName = '"+ SearchWord + "'") > 0)
        {
            StartCondition += "Failed";
        }
        else
        {
            StartCondition += "Passed";
        }

        //--------------------------------------------AddNewProduct------------------------------------//

        Funcs.AddNewProduct("TestName", "Sodavand", 12.00, 8.00, 120);
        Funcs.SaveLogData("TestName", "Sodavand", 0.00);

        if (db.QueryValue("SELECT COUNT(*) FROM Products WHERE ProductName = '"+ SearchWord + "'") > 0)
        {
            AddProduct_test += "Passed";
        }
        else
        {
            AddProduct_test += "Failed";
        }

        if (db.QueryValue("SELECT COUNT(*) FROM Log WHERE Event = '0 TestName added to database under the category Sodavand.'") > 0)
        {
            AddProduct_log += "Passed";
        }
        else
        {
            AddProduct_log += "Failed";
        }

        db.Execute("DELETE FROM Log WHERE Event = '0 TestName added to database under the category Sodavand.'");

        ProductID = db.QueryValue("SELECT ID FROM Products WHERE ProductName = '"+ SearchWord + "'").ToString();


        //-----------------------------------------EditProduct---------------------------------------------//

        Funcs.EditProduct("TestRename", "TestCategory", 5.00, 5.00, 5, ProductID);
        Funcs.SaveLogData(Convert.ToString(ProductID), "TestName", "Sodavand", "12", "8", "120");

        if (db.QueryValue("SELECT COUNT(*) FROM Products WHERE Category = 'TestCategory'") > 0)
        {
            EditProduct_test += "Passed";
        }
        else
        {
            EditProduct_test += "Failed";
        }

        if (db.QueryValue("SELECT COUNT(*) FROM Log WHERE Event = '"+ EditProduct_Event + "'") > 0)
        {
            EditProduct_log += "Passed";
        }
        else
        {
            EditProduct_log += "Failed";
        }

        db.Execute("DELETE FROM Log WHERE Event = '"+ EditProduct_Event + "'");

        //Changinging products in a category

        Funcs.AddNewProduct("TestNameDeux", "TestCategoryDeux", 12.00, 8.00, 120);
        Funcs.AddNewProduct("TestNameTrois", "TestCategoryDeux", 12.00, 8.00, 120);
        Funcs.EditProduct("TestCategoryDeux", "TestCategoryTrois", 10.00);
        
        if (db.QueryValue("SELECT COUNT(*) FROM Products WHERE Category = 'TestCategoryTrois' AND Price = '10'") > 1)
        {
            EditProductCategory_test += "Passed";
        }
        else
        {
            EditProductCategory_test += "Failed";
        }

        db.Execute("DELETE FROM Products WHERE Category = 'TestCategoryTrois'");

        //-----------------------------------------DeleteProduct-----------------------------------------//

        Funcs.DeleteProduct(ProductID);
        Funcs.SaveLogData(ProductID, "TestRename");

        if (db.QueryValue("SELECT COUNT(*) FROM Products WHERE ProductName = '"+ SearchWord + "'") > 0)
        {
            DeleteProduct_test += "Failed";
        }
        else
        {
            DeleteProduct_test += "Passed";
        }
                
        if (db.QueryValue("SELECT COUNT(*) FROM Log WHERE Parameter = 'TestRename'") > 0)
        {
            DeleteProduct_log += "Passed";
        }
        else
        {
            DeleteProduct_log += "Failed";
        }

        db.Execute("DELETE FROM Log WHERE Parameter = 'TestRename'");
    }
}

<p>@StartCondition</p>    
<p>@AddProduct_test</p> 
<p>@AddProduct_log</p> 
<p>@EditProduct_test</p>
<p>@EditProduct_log</p>
<p>@EditProductCategory_test</p> 
<p>@DeleteProduct_test</p> 
<p>@DeleteProduct_log</p>


