@{
    Page.title = "Edit Product";
    <!--When the site is shown for the first time, it gets the ProductID form the query string, 
    the code then uses the ID to read the corresponding product out of the database -->
    var ProductName = "";
    var Category = "";
    double Price = 0.0;
    double PurchasePrice = 0.0;
    var ProductID = "";
    double Stock = 0.0;

   if(!IsPost)
   {
               <!--Here it is made sure that the ID is not empty, and that it is indeed an integer-->
        if(!Request.QueryString["ID"].IsEmpty() && Request.QueryString["ID"].IsInt())
         {
            ProductID = Request.QueryString["ID"];
            var db = Database.Open("Cafeen");
            var dbCommand = "SELECT * FROM Products WHERE ID = @0";
            var rows = db.QuerySingle(dbCommand, ProductID);
                        <!--if the row is equal to null skip then we skip because we will get an error if we try and get informaiton out of an empty row.-->
            if(rows != null)
            {
                ProductName = rows.ProductName;
                Category = rows.Category;
                Price = rows.Price;
                PurchasePrice = rows.PurchasePrice;
                Stock = rows.Stock;
            } 
              else 
            {
                Validation.AddFormError("No Product was found for that ID.");
            }
          }
        else{
            Validation.AddFormError("No Product was selected.");
        }
    }

    if(IsPost){ <!--If the update product button is pressed, we require all 4 fields full, and then request whats inside the tables.-->
        Validation.RequireField("ProductName", "You haven't entered a Product Name");
        Validation.RequireField("Category", "You haven't entered a Category");
        Validation.RequireField("Price", "You haven't entered a Price");
        Validation.RequireField("PurchasePrice", "You haven't entered a Purchase Price");
        Validation.RequireField("Stock", "You haven't entered a Stock number");
        Validation.RequireField("ProductID", "No product ID was submitted!");

        ProductName = Request.Form["ProductName"];
        Category = Request.Form["Category"];
        Price = Request.Form["Price"].AsInt();
        PurchasePrice = Request.Form["PurchasePrice"].AsInt();
        Stock = Request.Form["Stock"].AsInt();
        ProductID = Request.Form["ProductID"];

        <!--Opens the database and updates the product information, the WHERE secures that it is only the ID that is updatet and not the whole database-->
        if(Validation.IsValid()){
            var db = Database.Open("Cafeen");
            var updateCommand = "UPDATE Products SET ProductName=@0, Category=@1, Price=@2, PurchasePrice=@3, Stock=@4 WHERE ID=@5";
            db.Execute(updateCommand, ProductName, Category, Price, PurchasePrice, Stock, ProductID);
            Response.Redirect("~/Members/Products.cshtml");
       }
    }
}
<!--Creates the new tables and positions the validation error message to the end of every line-->
  <h1>Edit a Product</h1>
  <form method="post">
    <fieldset>
      <legend>Add product to database</legend>
      <p><label for="ProductName">Product Name:</label>
         <input type="text" name="ProductName" value="@ProductName" />
         @Html.ValidationMessage("ProductName")
      </p>

      <p><label for="Category">Category:</label>
         <input type="text" name="Category" value="@Category" />
         @Html.ValidationMessage("Category")
      </p>

      <p><label for="Price">Price:</label>
         <input type="number" name="Price" value="@Price" />
         @Html.ValidationMessage("Price")
      </p>

      <p><label for="PurchasePrice">Purchase Price:</label>
         <input type="number" name="PurchasePrice" value="@PurchasePrice"/>
         @Html.ValidationMessage("PurchasePrice")
      </p>

      <p><label for="Stock">Stock:</label>
         <input type="number" name="Stock" value="@Stock"/>
         @Html.ValidationMessage("Stock")
      </p>

      <!--Gives the movie a hidden ID to be used to restore information about the ID from the database-->
      <input type="hidden" name="ProductID" value="@ProductID" />

      <p><input type="submit" name="buttonSubmit" value="Submit Changes" /></p>
    </fieldset>
  </form>
    <p>
        <a href="~/Members/Products.cshtml">Return to product listings</a>
    </p>
